* {
  color: #292929;
}

.App {
  padding: 20px;
}

h1 {
  margin: 0px;
  margin-bottom: 10px;
  font-size: 40px;
}

.grid-container {
  display:inline-grid;
  width: 400px;
  padding: 10px;
}
.grid-container a{
  text-decoration: none;
  width: 400px;
}

.notes-list {
  background-color: #fdff98;
  border: 2px solid black;
  font-size: 20px;
  height: 245px;
}
.notes-list:hover {
  box-shadow: 5px 5px 10px black;
}
.notes-list h2 {
  text-align: center;
  font-size: 30px;
  color: black;
  border-bottom: 3px solid black;
  margin-bottom: 0%;
  word-wrap:break-word;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.notes-list p{
  height:165px;
  color: black;
  margin-top: 0%;
  word-wrap:break-word;
  display: -webkit-box;
  -webkit-line-clamp: 6;
  -webkit-box-orient: vertical;
  overflow: hidden;
  white-space: pre-wrap;
}

.note-details{
  font-size: 20px;
  word-wrap:break-word;
  white-space: pre-wrap;
}
.note-details h2 {
  font-size: 30px;
  color: #35acf1;
  text-decoration: underline;
  margin-bottom: 10px;
}

button {
  background: #35acf1;
  color: white;
  font-size: 20px;
  padding: 10px;
  margin-right: 10px;
  border-radius: 15px;
  cursor: pointer;
}
button:hover{
  box-shadow: 5px 5px 10px black;
}

input, textarea{
  width: 25%;
  height: 30px;
  padding-left: 10px;
  padding-right: 10px;
  border: 2px solid #dddddd;
  border-radius: 4px;
  font-size: 16px;
  resize: none;
}
textarea{
  height: 150px;
}